.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
}

/*

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}

.header {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: brown;
}

.titulo {
  font-size: 35px;
  color: white;
}

*/
